@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Josefin+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    width: 100%;
    height: 1.5px;
    background-color: #dac9c9ab;
    border: none;
    border-radius: 3px;
}

.outer {
    margin: 10px;
}

button {
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    width: 100px;
    height: 40px;
    display: block;
    cursor: pointer;
    background: linear-gradient(to right, #FFBB1A 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

button:hover {
    background-position: left bottom;
    color: white;
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(197, 197, 197, 0.402);
}


/* Custom scroll bar */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #FFBB1A;
}


.Indian-flag {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(#FF9A33, white, #138707);
    overflow: hidden;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.chakra img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 0;
}

.Indian-flag h3 {
    font-size: 2.125rem;
    text-transform: uppercase;
    color: #bc1818;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 2px;
    animation: India 6s linear infinite;
}

@keyframes India {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* scroll animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    overflow: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hidden1 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    overflow: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    overflow: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    height: 60px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu .nav-item {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    gap: 15px;
}

.nav-menu .nav-item .nav-link {
    color: rgb(31, 31, 31);
}

.nav-link span {
    background-color: #B20000;
    color: white;
    margin-left: 6px;
    font-size: 0.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2px;
    font-weight: 500;
}

.search-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .search-cart form input {
    padding: 6px;
    border-radius: 20px;
    border: 1px solid gray;
}

.navbar .search-cart .cart {
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 50px;

}

.navbar .search-cart .cart img {
    width: 20px;
    height: 20px;
}

/* video part */

.banner {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -19;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner h2 {
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 8rem;
    text-align: center;
    line-height: 100vh;
    color: #FFBB1A;
    z-index: 10;
    font-family: "Briem Hand", cursive;

}

.banner .front-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background: white;*/
    background-image: linear-gradient(#FF9A33, white, #138707);
    mix-blend-mode: screen;
}

.tag-line {
    position: absolute;
    top: 20%;
    left: 22%;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100vh;
    z-index: 10;
}

.tag-line p {
    font-size: 1.25rem;
    font-family: "Briem Hand", cursive;
}


/*mobile cover*/

main {
    position: relative;
}

#phone-cover {
    display: flex;
    flex-direction: column;
}

#phone-cover .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    gap: 5%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 2.5% 10%;
    /*background-color: black;*/
    color: white;
}

#phone-cover .container:nth-child(2) {
    flex-wrap: wrap;
}

.container .item-img {
    position: relative;
    height: 30em;
    width: 20em;
}

#phone-cover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}


#phone-cover .container .item-img img {
    height: 28em;
    position: absolute;
    top: 0%;
    left: -8%;
    overflow: visible;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.53));
}

#img1 {
    rotate: 30deg;
}

#img2 {
    rotate: 10deg;
}

#img3 {
    margin-left: 10px;
    rotate: 0deg;
}




.container .item-text h2 {
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #FFBB1A;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: white;
}

.container .item-text ul li {
    font-weight: 600;
    font-size: 1.35rem;
    margin: 10px 0 10px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: #FFBB1A;
}


.keychain-img img:nth-child(1) {
    animation: swing ease-in-out 1.5s infinite alternate;
    /*border: 5px solid #f8f8f8;*/
    display: block;
    transition: all 0.5s ease-in-out;
    transform-origin: center 0px;
}

.keychain-img img:nth-child(2) {
    animation: rev-swing ease-in-out 1.5s infinite alternate;
    /*border: 5px solid #f8f8f8;*/
    display: block;
    transition: all 0.5s ease-in-out;
    transform-origin: center 0px;
}


@keyframes swing {
    0% {
        transform: rotate(30deg);
        z-index: 10;
    }

    100% {
        transform: rotate(-30deg);
        z-index: -10;
    }
}

@keyframes rev-swing {
    0% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

#category {
    background: fixed url(/images/background/5234064.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.5rem 0;
}

#category .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.title {
    border-radius: 13px;
    border: 2px solid black;
    padding: 10px;
    position: relative;
}

.title::before {
    content: "";
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    left: -101%;
    top: 50%;
    width: 100%;
}

.title::after {
    content: "";
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    right: -101%;
    top: 50%;
    width: 100%;
}

.title h2 {
    color: black;
    font-size: 1.825rem;
}

.container .boxes {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box a img {
    width: 250px;
}

.box:hover {
    z-index: 10;
}


footer {
    background: #FFBB1A;
    color: #fff;
    padding: 60px 0 30px 0;
    border-radius: 25px 25px 0 0;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.row:nth-child(1) h2 {
    position: relative;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.row:nth-child(1) h2::after {
    background: url(/images/underline.webp) 50% top no-repeat;
    background-size: 100% 9px;
    border-radius: 999px;
    color: green;
    content: "";
    height: 9px;
    image-rendering: -webkit-optimize-contrast;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}


.col h3 {
    color: black;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.underline {
    width: 100%;
    height: 5px;
    background: #a57d21c7;
    border-radius: 3px;
    position: absolute;
    top: auto;
    left: 0;
    overflow: hidden;
}


.underline span {
    width: 15px;
    height: 100%;
    background: #000000;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

.col ul li {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.825rem 0;
}

.col ul li a {
    font-weight: 500;
    font-size: 0.925rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.2s ease;
}

.col ul li a:hover {
    color: rgb(255, 255, 176);
}

.col ul li p {
    display: inline;
    color: rgb(255, 255, 176);
    font-size: 0.9rem;
}

.row:nth-last-child(1) {
    justify-content: center;
}

.row:nth-last-child(1) p {
    font-size: 1rem;
    margin-top: 1rem;
    opacity: 0.8;
}


/*Responsive Design*/

@media (max-width: 1199.5px) {
    .banner h2 {
        top: -25%;
        left: 0;
        font-size: 6rem;
    }

    .tag-line {
        top: 18%;
        left: 20%;
    }

    .tag-line p {
        font-size: 1.15rem;
    }
}

@media (max-width:991px) {
    .banner h2 {
        top: -13%;
        left: 0;
        font-size: 4rem;
    }

    .tag-line {
        top: 15%;
        left: 16%;
        line-height: 80vh;
    }

    .tag-line p {
        font-size: 1.05rem;
    }
}

@media (max-width: 767px) {
    .nav-menu .nav-item {
        display: none;
    }

    .search-cart {
        display: none;
    }
    
    .hidden1 {
        transform: translateX(-100%);
    }


    .show {
        transform: translateX(0);
    }
    .banner {
        height: 25vh;
    }

    .banner h2 {
        top: -60%;
        left: 2%;
        font-size: 3rem;
        line-height: 40vh;
    }

    .tag-line {
        top: -10%;
        left: 14%;
        line-height: 45vh;
    }

    .tag-line p {
        font-size: 0.9rem;
    }
       
    .container .item-img {
        position: relative;
        height: 16em;
        width: 16em;
    }

    #phone-cover .container .item-img img {
        height: 16em;
        top: 0%;
        left: 0%;
    }

    .container .item-text h2 {
        font-size: 2.75rem;
        -webkit-text-stroke: 0.8px;
        -webkit-text-stroke-color: white;
    }

    .container .item-text ul li {
        font-size: 1.5rem;
        margin: 10px 0 10px 25px;
        -webkit-text-stroke: 0.2px;
        -webkit-text-stroke-color: #FFBB1A;
    }

    .title {
        border-radius: 13px;
        border: 2px solid black;
        padding: 8px;
        position: relative;
    }

    .title::before {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        left: -102%;
        top: 50%;
        width: 100%;
    }

    .title::after {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        right: -102%;
        top: 50%;
        width: 100%;
    }

    .title h2 {
        font-size: 1.125rem;
    }

    .container .boxes {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .box {
        margin: 1rem 0;
    }

    .box a img {
        width: 250px;
    }

}

@media (max-width: 575.5px) {
    
    .Indian-flag {
        width: 100%;
        height: 4.5vh;
    }

    .chakra img {
        width: 35px;
        left: 50%;
        top: 0;
    }

    .Indian-flag h3 {
        font-size: 1.5rem;
        padding: 0 6rem;
        letter-spacing: 2px;
    }

    button {
        border: 1px solid white;
        font-weight: 400;
        width: 90px;
        height: 35px;
        font-size: 0.625rem;
    }

    .banner h2 {
        top: -55%;
        left: 0;
        font-size: 2.25rem;
    }

    .tag-line {
        top: -15%;
        left: 14%;
    }

    .tag-line p {
        font-size: 0.6rem;
    }

    
    .container .item-img {
        position: relative;
        height: 14em;
        width: 14em;
    }

    #phone-cover .container .item-img img {
        height: 14em;
        top: 0%;
        left: 0%;
    }

    .container .item-text h2 {
        font-size: 2.25rem;
        -webkit-text-stroke: 0.8px;
        -webkit-text-stroke-color: white;
    }

    .container .item-text ul li {
        font-size: 1.25rem;
        margin: 10px 0 10px 25px;
        -webkit-text-stroke: 0.2px;
        -webkit-text-stroke-color: #FFBB1A;
    }

    .title {
        border-radius: 13px;
        border: 2px solid black;
        padding: 8px;
        position: relative;
    }

    .title::before {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        left: -102%;
        top: 50%;
        width: 100%;
    }

    .title::after {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        right: -102%;
        top: 50%;
        width: 100%;
    }

    .title h2 {
        font-size: 1rem;
    }

    .container .boxes {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .box {
        margin: 1rem 0;
    }

    .box a img {
        width: 250px;
    }
}

@media (max-width: 390px) {

    .Indian-flag {
        width: 100%;
        height: 3.5vh;
    }

    .chakra img {
        width: 25px;
        left: 50%;
        top: 0;
    }

    .Indian-flag h3 {
        font-size: 1.25rem;
        padding: 0 6rem;
        letter-spacing: 2px;
    }

    button {
        border: 1px solid white;
        color: white;
        border-radius: 3px;
        font-weight: 400;
        width: 90px;
        height: 30px;
        font-size: 0.625rem;

    }


    .banner h2 {
        top: -45%;
        left: 0;
        font-size: 1.825rem;
    }

    .tag-line {
        top: -21%;
        left: 10%;
    }

    .tag-line p {
        font-size: 0.5rem;
    }

    .container .item-img {
        position: relative;
        height: 12em;
        width: 12em;
    }

    
    .container:nth-child(1) .item-img {
        margin-top: 5%;
        height: 10em;
        width: 10em;
    }

    
    #phone-cover .container:nth-child(1) .item-img img {
        height: 10em;
        top: -10%;
        left: 0%;
    }


    #phone-cover .container .item-img img {
        height: 12em;
        top: 0%;
        left: 0%;
    }

    #phone-cover .container {
        padding: 10% 10%;
    }

    .container .item-text h2 {
        font-size: 2.25rem;
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: white;
    }

    .container .item-text ul li {
        font-size: 0.825rem;
        margin: 10px 0 10px 25px;
        -webkit-text-stroke: 0.1px;
        -webkit-text-stroke-color: #FFBB1A;
    }

    .title {
        border-radius: 13px;
        border: 2px solid black;
        padding: 8px;
        position: relative;
    }

    .title::before {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        left: -102%;
        top: 50%;
        width: 100%;
    }

    .title::after {
        content: "";
        border-radius: 10px;
        border: 1px solid black;
        position: absolute;
        right: -102%;
        top: 50%;
        width: 100%;
    }

    .title h2 {
        font-size: 0.825rem;
    }

    .container .boxes {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .box {
        margin: 1rem 0;
    }

    .box a img {
        width: 250px;
    }
}